<!DOCTYPE html>
<html>
<head>
  <title>Movie Recommendation App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Movie Recommendation App</h1>

  <form id="searchForm" method="POST" action="/">
    <label for="name">Select a movie:</label>
    <input type="text" id="name" name="name" oninput="filterMovieOptions()" list="moviesList">
    <datalist id="moviesList">
      {% for movie in movies %}
        <option value="{{ movie }}"></option>
      {% endfor %}
    </datalist>
    <input type="submit" value="Submit">
  </form>

  <script>
    function filterMovieOptions() {
      var inputElement = document.getElementById("name");
      var inputValue = inputElement.value.toLowerCase();
      var options = document.querySelectorAll("#moviesList option");

      for (var i = 0; i < options.length; i++) {
        var optionValue = options[i].value.toLowerCase();
        if (optionValue.includes(inputValue)) {
          options[i].removeAttribute("hidden");
        } else {
          options[i].setAttribute("hidden", "hidden");
        }
      }
    }
  </script>

  <div class="container0">
    <div class="box">
      <img src="{{ final_list[0][0] }}" class="image-box"> <h1 id="detail">{{ info[0] }}</h1>
      <h3 id="mname">{{ final_list[0][1] }}</h3>
    </div>
  </div>
  
  <div class="container">
    {% for item in final_list[1:] %}
    <div class="box">
      <img src="{{ item[0] }}" class="image-box"> <h1 id="detail">{{ info[item] }}</h1>
      <h3 id="mname">{{ item[1] }}</h3>
    </div>
    {% endfor %}
  </div>
</body>
</html>
