h1{
    color: blue;
    text-align: center;
    font-size: 60px;
}

body {
    background-color: burlywood;
  }
  
#searchForm {
    text-align: center;
}

#name, #labelname{
    font-size: 20px;
}

.list {
    text-align: center;
    font-size: 30px;
    list-style-type: none;
}