h1{
    color: blue;
    text-align: center;
    font-size: 60px;
}

body {
    background-color: burlywood;
  }
  
#searchForm {
    text-align: center;
}

select {
    height: 40px;
    width: 200px;
  }

#name{
    font-size: 20px;
}
#mname{
    font-size: 20px;
    text-align: center;
    color:blue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  .box {
    width: 150px;
    height: 300px;
    border: 0.5px solid black;
    align-items: center;
    margin: 15px;
    overflow: hidden;
  }

  .image-box {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }