h1{
    color: blue;
    text-align: center;
    font-size: 60px;
}

body {
    background-color: burlywood;
  }
  
#searchForm {
    text-align: center;
}

select {
    height: 40px;
    width: 200px;
  }

#name{
    font-size: 20px;
}
#mname{
    font-size: 20px;
    text-align: center;
    color:blue;
}
#detail{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.container0 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  .box {
    width: 150px;
    height: 500px;
    border: 0.5px solid black;
    margin: 15px;
    overflow: hidden;
  }

  .image-box {
    width: 200px;
    margin-right: 20px;
  }